<div class="bs-example table-responsive">
  <table class="table table-striped table-bordered table-hover ">
      <thead>
          <tr>
              
              <th>
                  <% if params[:sorting] == "title" %>
                    Title
                  <% else %>
                    <%= link_to "Title", products_path(sorting: "title") %>
                  <% end %>
              </th>

               <th>Image</th>  
              
              <th>
                  <% if params[:sorting] == "category_id" %>
                    Category
                  <% else %>
                    <%= link_to "Category", products_path(sorting: "category_id") %>
                  <% end %>
              </th>
              
              <th>
                  Target Group
              </th>

              <th>
                  <% if params[:sorting] == "size" %>
                    Size 
                  <% else %>
                    <%= link_to "Size", products_path(sorting: "size") %>
                  <% end %>
              </th>
              
              <th>
                  <% if params[:sorting] == "color" %>
                    Color
                  <% else %>
                    <%= link_to "Color", products_path(sorting: "color") %>
                  <% end %>
              </th>

              <th>
                  <% if params[:sorting] == "price" %>
                    Price in € 
                  <% else %>
                    <%= link_to "Price in €", products_path(sorting: "price") %>
                  <% end %>
              </th>
              <th>
                  <% if params[:sorting] == "duration" %>
                    Price related to
                  <% else %>
                    <%= link_to "Price related to", products_path(sorting: "duration") %>
                  <% end %>
              </th>
              
              <th>City</th>
               
              
              <th>
                  <% if params[:sorting] == "user_id" %>
                    User
                  <% else %>
                    <%= link_to "User", products_path(sorting: "user_id") %>
                  <% end %>
              </th>
             
          </tr>
      </thead>


      <tbody>
        <% products.each do |product| %>
          <tr>
            <td width="30%"><h4><%= link_to product.title, product_path(product) %></h4></td>
            <td><a class="menue">
              <%= image_tag product.image_url(:thumb) if product.image? %>
              <span><%= image_tag product.image_url(:normal2)  if product.image? %></span></a>
            <td><%= product.category.name %></td>
            <td><%= product.target_group %></td>
            <td><%= product.size %></td>
            <td><%= product.color %></td>
            <td><%= product.price %></td>
            <td><%= product.duration %></td>
            <td><%= product.user.city %></td>
            <td><%= link_to product.user.username, users_profile_path(id: product.user.id) %></td></tr>

        <% end %>
      </tr>
      </tbody>
  </table>
</div>
