<div class="bs-docs-section">

	<%= render "carousel" %>

	<div class="row">
		<div class="col-sm-4 col-md-4 col-md-4">
		  <div class="thumbnail">
	      <a href="products/lady"> <%= image_tag ("lady.jpg") %> </a> 
        <div class="caption">
        	<h4 class="pull-right"><%= pluralize(@productslady.count, "Product") %></h4>
           <h4>
            	<a href="products/lady">Ladies</a>	            	
          </h4>
        </div>
		  </div>
		</div>
	 
		<div class="col-sm-4 col-md-4 col-md-4">
	    <div class="thumbnail">
        <a href="products/girl"> <%= image_tag ("girls.jpg") %> </a>
        <div class="caption">
        	<h4 class="pull-right"><%= pluralize(@productsgirl.count, "Product") %></h4>
          <h4>
            <a href="products/girl">Girls</a>            	
          </h4>
        </div>
	  	</div>
		</div>

		<div class="col-sm-4 col-md-4 col-md-4">
	    <div class="thumbnail">
      	<a href="products/baby">  <%= image_tag ("baby.JPG") %>  </a>
        <div class="caption">
        	<h4 class="pull-right"><%= pluralize(@productsbaby.count, "Product") %></h4>
          <h4>
          	<a href="products/baby">Babies</a>            	
          </h4>
        </div>
  		</div>
		</div>

		<div class="col-sm-4 col-md-4 col-md-4">
		    <div class="thumbnail">
		       <a href="products/man"> <%= image_tag ("gents.jpg") %> </a>
		        <div class="caption">
		        	<h4 class="pull-right"><%= pluralize(@productsgent.count, "Product") %></h4>
		            <h4>
		            	<a href="products/man">Gentlemen</a>
		            	
		            </h4>
		        </div>
		  	</div>
		</div>

		<div class="col-sm-4 col-md-4 col-md-4">
	    <div class="thumbnail">
        <a href="products/boy"> <%= image_tag ("boy.jpg") %> </a>        
        <div class="caption">
      		<h4 class="pull-right"><%= pluralize(@productsboy.count, "Product") %></h4>
          <h4>
          	<a href="products/boy">Boys</a>
          </h4>
        </div>
	  	</div>
		</div>

		<div class="col-sm-4 col-md-4 col-md-4">
	    <div class="thumbnail">
        <a href="products/last"> <%= image_tag ("mk2.jpg") %> </a>
        <div class="caption">
          <h4>
          	<a href="products/last">Lastest 20 Articles </a>
          </h4>
        </div>
	  	</div>
		</div>	                   
	</div>
	
</div>

